<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huntix">

    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.depth" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Huntix">

        <!-- Main AR Minigames Hub -->
        <activity
            android:name=".ui.minigames.MiniGamesHubActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Classic 2D Games -->
        <activity android:name=".game2048.Game2048Activity" />
        <activity android:name=".snake.SnakeActivity" />
        <activity android:name=".minesweeper.MinesweeperActivity" />
        <activity android:name=".flappyegg.FlappyEggActivity" />
        <activity android:name=".connectfour.ConnectFourActivity" />
        <activity android:name=".hangman.HangmanActivity" />
        <activity android:name=".tictactoe.TicTacToeActivity" />
        <activity android:name=".simon.SimonActivity" />

        <!-- AR Minigames -->
        <activity android:name=".ar.AR2048Activity" />
        <activity android:name=".ar.ARSnakeActivity" />
        <activity android:name=".ar.ARMinesweeperActivity" />
        <activity android:name=".ar.ARFlappyEggActivity" />
        <activity android:name=".ar.ARConnectFourActivity" />
        <activity android:name=".ar.ARHangmanActivity" />
        <activity android:name=".ar.ARTicTacToeActivity" />
        <activity android:name=".ar.ARSimonActivity" />
        <activity android:name=".ar.ARMemoryActivity" />
        <activity android:name=".ar.ARNumberPickActivity" />
        <activity android:name=".ar.ARHighCardActivity" />
        <activity android:name=".ar.ARCatchEggActivity" />
        <activity android:name=".ar.ARMatch3Activity" />

        <!-- AR Exclusive Games -->
        <activity android:name=".ar.exclusive.AREggShooterActivity" />
        <activity android:name=".ar.exclusive.ARColorBombActivity" />
        <activity android:name=".ar.exclusive.AREggRadarActivity" />
        <activity android:name=".ar.exclusive.AREggSlingshotActivity" />

        <!-- Battle 3D -->
        <activity android:name=".battle.FighterSelectActivity" />

    </application>
</manifest>